.ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.ul__li{
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.ul__li--done{
    text-decoration: line-through;
}

.ul__button{
    width: 30px;
    height: 30px;
    border: none;
    background-color: hsl(120, 100%, 25%);
    color: white;
    padding: 0px;
}

.ul__button:hover{
    background-color: hsl(120, 100%, 30%);
}

.ul__button:active{
    background-color: hsl(120, 100%, 35%);
}

.ul__button--remove{
    background-color: hsl(348, 83%, 47%);
}

.ul__button--remove:hover{
    background-color: hsl(348, 83%, 52%);
}

.ul__button--remove:active{
    background-color: hsl(348, 83%, 57%);
}